# Core functionality - changes here should be rare!
/src/app.py                   @bradnaylor-gp
/src/backend/database.py      @bradnaylor-gp
/src/backend/routers/auth.py  @bradnaylor-gp

# The frontend will need refactored soon to be more object oriented.
/src/static/   @bradnaylor-gp
